{% extends 'base.html' %}
{% load cloudinary %}

{% block content %}
    <h1>Welcome to SHIrT</h1>

    <div class="panel">
        <h3 class="panel-header">Shirts catalog</h3>
    <div>
        {% for line in Shirts %}
        <div class="row grid-row">
            {% for shirt in line %}
            <div class="col-sm-4">
                <div class="card">
                    <a href="/shirt/{{ shirt.id }}">{% cloudinary shirt.image class="img-thumbnail card-img-top" %}</a>
                    <h4 class="card-title">{{ shirt.title }}</h4>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    </div>
{% endblock content %}